/* Import Local CSS */
@import url("/css/reset.css");
@import url("/css/variables.css");

/* font-family를 body에 주지 않은 이유는, form 요소(button, input 등)에 적용되지 않기 때문에 전체(*)에 폰트를 정의함 */
*{
  font-family: var(--primary-kr);
  font-weight: 300;
}

body {
  margin: 0;
  color: var(--dark-black);
  line-height: 1.5em;
  font-size: 14px;
}

/* #### Common CSS #### */

/* Layout CSS */
.container {
  /* border: 1px solid #000; */
  width: 375px; /* 작업 완료 후 width: 100%*/
  /* 추후에 gnb를 크기에 맞춰야하기 때문에 미리 relative 선언 */
  position: relative;
}

/* Logo CSS */
.logo{
  font-family: var(--logo-en);
}

/* Button CSS */
.btn-primary {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  padding: 8px;
}

/* GNB CSS */
.gnb{
  border-top: 1px solid var(--gloudy-gray);
  /* border: 1px solid #000; */
  height: 65px;
  display: flex;
  justify-content: space-between;
  /* position: absolute;
  bottom: 0; */
  width: 375px; /* 작업 완료 후 width: 100%*/
  background-color: #fff;
  /* align-items: center; */
}
.gnb a {
  text-align: center;
  /* border: 1px solid red; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gnb a .bi{
  font-size: 22px;
}
.gnb a:nth-child(1) .bi,
.gnb a:nth-child(4) .bi{
  font-size: 26px;
}
.gnb a span{
  display: block;
  font-size: 13px;
}

/* Main Header CSS */
.main-header {
  height: 80px;
  background-color: var(--crimson);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-back{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 22px;
  flex: 1;
}
.main-header .logo {
  color: #fff;
  font-size: 26px;
  text-align: center;
  margin: 0;
  flex: 6;
}
.user-alarm{
  flex: 1;
  font-size: 22px;
  color: #fff;
}
.user-alarm span,
.cart-alarm b {
  /* border: 1px solid #000; */
  position: relative;
}
.user-alarm span em,
.cart-alarm b em{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--royalblue);
  border-radius: 50%;
  right: 0;
  top: 0;
  /* 정중앙에 오게 하는 방법 2 - flex */
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-alarm span em::before,
.cart-alarm b em::before{
  content: attr(data-count);
  font-style: normal;
  font-size: 10px;
  font-family: var(--primary-en);
  /* 정중앙에 오게 하는 방법 1 - position */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.cart-alarm b em{
  color: #fff;
  top: 0;
  right: 22px;
}

/* div[class*=content]-> 앞에 div나 h2 등을 붙이면 div 중에서 classname 이 content를 포함한것 */
[class*=content] {
  padding: 20px;
}


/* Clear Buttons */
.btn-all-clear {
  border: none;
  font-size: 11px;
  background-color: var(--gainsboro);
  color: #fff;
  border-radius: 20px;
  padding: 2px 8px;
}

.btn-clear {
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: var(--silver-gray);
}

/* #### Preloading html #### */
.container.preloading{
  height: 750px; /* 작업 완료 후 height: 100vh*/
} 
.preloading-inner{
  height: inherit;
  background: url(/images/preloading-back.jpg) no-repeat center left -140px;
  background-size: cover;
  position: relative;
}
.heading-preloading{
  position: absolute;
  top: 75px;
  left: 30px;
}
.heading-preloading .logo{
  font-size:32px;
  color: var(--crimson);
  /* 기본적으로  white-space: wrap; 가 들어가 있다. 이는 부모요소의 넓이가 부족하면 텍스트의 줄을 바꾸겠다는 의미 */
  white-space: nowrap;
}
.slogan{}
.slogan span {
  display: block;
  font-family: var(--secondary-kr);
  font-size: 28px;
  margin: 15px 0;
  font-weight: bold;
}

/* #### SignIn html #### */
.container.signin{
  height: 750px;
}
.signin-inner{}
.signin-photo{
  height: 250px;
  background: url(/images/signin-header.jpg) no-repeat;
}
.signin-content{
  padding: 20px;
}
.signin-header{
  text-align: center;
}
.signin-header .logo{
  font-size: 26px;
  margin-bottom: 0;
}
.signin-header p {
  font-size: 16px;
  font-weight: 400;
}

.signin-field{

}
.signin-field input {
  border: 1px solid var(--gainsboro);
  /* 입력요소에는 height 이렇게 주지 않고 padding을 사용 */
  padding: 10px 20px;
  width: 100%;
  border-radius: 30px;
  margin: 5px 0;
}

.signin-field input:focus{
  border-color: var(--yellowgreen);
}

.signin-field input::placeholder{
  color: var(--silver-gray);
  transition: 0.35s;
}

.signin-field input:focus::placeholder{
  opacity: 0;
  /* visibility: hidden; */
}

.status{
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.status label{}
.custom-chk label input[type=checkbox]{
  display: none;
}
.custom-chk label input[type=checkbox] + em{
  /* border: 1px solid #000; */
  width: 16px;
  height: 16px;
  display: inline-block;
  transform: translateY(5px);
  margin-right: 3px;
}
.custom-chk label input[type=checkbox] + em::before{
  content: "\F26B";
  font-family: bootstrap-icons;
  font-style: normal;
  color: var(--light-gray);
  display: inline-block;
  transform: translateY(-3px);
}
.custom-chk label input[type=checkbox]:checked + em:before{
  color: var(--crimson);
}

.btn-signin{
  background-color: var(--yellowgreen);
}

.join-member{
  text-align: center;
  margin: 15px 0;
}
.join-member a{
  text-decoration: underline;
}

.easy-signin{
  text-align: center;
}
.easy-signin span{
  color: var(--light-gray);
}
.social-btn{
  margin: 10px 0;
}
.social-btn a{
  margin: 2px;
}


/* #### Signup html #### */
.container.signup {}
.signup-inner {}
.signup-content{}
.signup-field {
  margin-bottom: 10px;
}
.signup-field span{
  display: block;
}
.signup-field span em{
  color: var(--crimson);
}
.signup-field.id-pw input{
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gainsboro);
  padding: 8px 0;
}
.signup-field.id-pw input::placeholder{
  color: var(--silver-gray);
}
.signup-field.birth {}
.signup-field.birth div {
  display: flex;
  gap: 10px;
}
/* div > * 를 하면 자식인 option 은 빼고, div * 를 하면 option도 포함 */
.signup-field.birth div > * ,
.signup-field.phone div > * {
  /* flex: 1; -> 이유는 ? 아직 모름 아마도 select 라는 tag가 flex 를 먹지 않는 듯 ?*/
  width: 33.3333%;
  border: 1px solid var(--gainsboro);
  border-radius: 3px;
  padding: 7px;
  text-align: center;
  color: var(--sliver-gray);
}

.signup-field.phone {}
.signup-field.phone div {
  display: flex;
  gap: 10px;
}
.signup-field.phone div input {
  flex: 7;
}
.btn-getcode {
  flex: 3;
  background-color: #fff;
}

.agree-term{
  margin-bottom: 15px;
}
.agree-term label{
  display: block;
  font-size: 13px;
}

.btn-signup {
  background-color: var(--crimson);
}

.signup-field.phone span,
.signup-field.birth span {
  margin-bottom: 5px;
}

.signup-field.id-pw input:focus,
.signup-field.birth div > *:focus,
.signup-field.phone div input:focus
 {
  border-color: var(--yellowgreen);
}

.signup-field.id-pw input:focus::placeholder,
.signup-field.birth div > *:focus::placeholder,
.signup-field.phone div input:focus::placeholder {
  visibility: hidden;
}


/* #### Category html #### */
.container.category{}
.category-inner{}
.category-content{
  padding: 0;
}
.category-accordion{
  font-size: 16px;
}
.category-accordion .title {
  border-bottom: 1px solid var(--gloudy-gray);
  height: 50px;
  display: flex;
  align-items: center;
  color: var(--crimson);
  font-weight: 400;
  /* cursor: pointer; 모바일 버전이라 안넣음 */
  position: relative;
  padding: 0 20px;
}
.category-accordion .title.active::after{
  background-color: transparent;
  transform: rotate(180deg);
}
.category-accordion .title:after,
.user-shortcut a::after{
  content:"\F282";
  font-family: bootstrap-icons;
  background-color: var(--fuschia);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  position: absolute;
  right: 20px;
  transition: 0.35s;
}
.category-accordion .detail {
  display: none;
  line-height: 2em;
  padding: 7px 0;
  background-color: var(--snow);
  padding: 0 20px;
}
.category-accordion .detail a{
  display: block;
  padding: 2px 0;
}

/* #### Search html #### */
.container.search {}
.search-inner {}
.search-content {}
.search-field {}
.search-field input {
  border: none;
  padding: 8px;
  /* background-color: var(--snow); */
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  /* 위에 선언한 background color 가 덮어져 안보이기 때문에 background에 선언 */
  background: var(--snow) url(/images/icon-search.svg) no-repeat center left 15px;
  padding-left: 40px;
}

.search-recent {
  margin: 25px 0;
}
.search-recent .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-recent .title h3 {
  margin: 0;
  color: var(--crimson);
  font-size: 16px;
}

.search-recent .items {
  margin: 15px 0;
}
.search-recent .items .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gloudy-gray);
  padding: 8px 0 ;
}
.search-recent .items .item span{
  font-size: 15px;
}

.search-increase{}
.search-increase .title{}
.search-increase .title h3{
  font-size: 16px;
  margin-bottom: 0;
}
.search-increase .title p{
  padding: 0;
}
.search-increase-list{
  /* decimal 을 쓰지 않고 디자인을 할 수 있기 위해 none 으로 */
  list-style: none;
  padding-left: 15px;
  /* counter 로 다음과 같이 디자인을 줄 수 있다. 0 을 뺴고 1 부터 시작 기본값은 0 이지만 알고 있으면 좋아서  */
  counter-reset: rank 0;
}
.search-increase-list li:before{
  counter-increment: rank;
  content: counter(rank);
  margin-right: 10px;
  font-weight: 500;
  /* 다음과 같이 배경도 넣을 수 있다. */
  /* background-color: var(--crimson);
  color: #fff;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  font-size: 12px; */
}

/* #### Mypage html #### */
.container.mypage-content{}
.mypage-inner{}
.mypage-content{
  padding: 0;
}
.user-info{
  padding: 20px;
  display: flex;
  gap: 10px;
}
/* .user-info > div{
  border: 1px solid #000;
} */
.user-avatar {
  flex: 1;
}
.user-avatar img{
  width: 60px;
  border-radius: 50%;
}
.user-summary {
  flex: 4;
}
.rating{}
.rating b{
  font-weight: 500;
  text-transform: uppercase;
  color: var(--limegreen);
}
.rating span{
  font-weight: 400;
}
.btn-setting{
  float: right;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: var(--silver-gray);
}
.nickname{
  font-size: 18px;
  margin-top: 5px;
}
.point-coupon{
  display: flex;
  gap: 5px;
}
.point-coupon div {
  background-color: var(--gloudy-gray);
  border-radius: 20px;
  text-align: center;
  padding: 2px 15px;
  display: flex;
  justify-content: space-between;
}
.point-coupon div span{
  font-size: 13px;
  font-weight: normal;
}
.point-coupon div span:first-child{
}
.point-coupon div span:last-child{
  color: var(--crimson);
}
.point-coupon .point {
  flex: 3;
}
.point-coupon .coupon {
  flex: 1;
}

.delivering {
  padding: 20px;
}
.delivering h2{
  font-size: 16px;
}
.delivering-items {
  border: 1px solid var(--gloudy-gray);
  padding: 15px;
  border-radius: 5px;
}
.delivering-item {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid var(--gloudy-gray);
  padding: 10px 0;
}
.delivering-item:first-child {
  padding-top: 0;
}
.delivering-item:last-child {
  border: none;
  padding-bottom: 0;
}
.delivering-item .thum {
  width: 60px;
  height: 60px;
}
.delivering-item .thum img{
  object-fit: cover;
  width: inherit;
  height: inherit;
  border-radius: 5px;
}
.delivering-item .desc {
  
}
.delivering-item .desc span{
  font-weight: normal;
}
.delivering-item .desc b{
  display: block;
  color: var(--limegreen);
  font-weight: 500;
  font-size: 16px;
}

.mypage .banner a img{
  width: 100%;
}
.user-shortcut{}
.user-shortcut a{
   display: block;
   border-bottom: 1px solid var(--gloudy-gray);
   height: 50px;
   display: flex;
   align-items: center;
   padding: 0 15px;
   font-size: 15px;
}
.user-shortcut a:last-child {
  border: none;
}
.user-shortcut a::after{
  transform: rotate(270deg);
  background-color: transparent;
  right: 10px;
}
.user-shortcut a span{
  font-weight: 400;
  margin-left: 5px;
}
.user-shortcut a .bi {
   /* border: 1px solid #000; */
   width: 25px;
   text-align: center;
}
.user-shortcut a:nth-child(5) .bi{
  font-size: 20px;
}

.btn-signout{
  background-color: var(--gainsboro);
}